@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@1,700&family=Cormorant+Garamond:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300&display=swap');
   *{
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    
}


hr{
    background:green;
}
.navbar .navbar-nav .nav-item {
    padding: 0.5rem;
}
ul li a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}


.navbar .navbar-nav .nav-item a:hover{
    background-color:rgb(65, 206, 65);
    color: white;
    border-radius: 100px;
    transition: 1s;

}

.navbar  button {
    background-color: transparent;
    color: rgb(185, 179, 179);
    border-radius:100px ;

}
.navbar  button:hover{
    transition: 1s;
}
.mid h1{
    color: black;
    font-weight: 900;
    text-transform:capitalize;
}

.mid h1 span{
    color: darkgray;
    
}

.mid p {
    width: 60%;
    color: lightslategrey;
    font-size: 1.4rem;
    font-weight: 400;
    word-spacing: .1rem;
}

.mid .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mid .row button{
    background-color: transparent;
    color: rgb(185, 179, 179);
    border-radius:100px ;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    margin: 0 0.6rem;
    

    
}
.mid .row button:hover{
    background-color:lightslategrey;
    color:whitesmoke;
    border-radius: 100px;
    transition: 2s; 
}

body > header > div > h1.text-2{
    color:black;
    font-weight: 900;
    

}


}
.about img:hover{
    
    border-radius:50px;
    transition: 3s;
}

.about ul{
    width: 50%;
    color: lightslategrey;
    font-size: 1.4rem;
    font-weight: 400;
    word-spacing: .1rem;
    list-style-type: none;
}
.about ul li:hover{
    font-weight:500;
    color: white;
    background-color: darkgray;
    border-radius:500px;
    padding: 10px;
    transition: 3s;

}
.container-sm img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    --height:650px;
    height: var(--height);
    margin: auto;
    border-radius: 100px;

}
.height{
    height: var(--height);

}

form input:hover{
    background-color:darkslategray;
    transition: 2s;

}

.container .card{
    font-family: cursive;
    color:darkslategray;
    font-weight: 900;
    font-size: 20px;
}

#event:hover{
    background: black;
    border-radius: 5px;
    transition: 3s;
}

.about h1{
    color: black;
    font-weight: 900;
    text-transform:capitalize;

}
.about p{
    width: 60%;
    color: lightslategrey;
    font-size: 1.4rem;
    font-weight: 400;
    word-spacing: .1rem;
    border-radius: 10px;
    
}
.about p:hover{
    color: red;
    background: black;
    transition: 2s;
}
body > div > div.row.align-items-center > div.content.col-lg-6.col-md-6.col-12.p-2 > h6{
    color: rosybrown;
    font-weight: 600;
    font-size: 0.9rem;
}
body > div > div.row.align-items-center > div.content.col-lg-6.col-md-6.col-12.p-2 > h1{
    color: black;
    font-weight: 900;
    text-transform:capitalize;
}
body > div > div.row.align-items-center > div.content.col-lg-6.col-md-6.col-12.p-2 > p{
    
    color: lightslategrey;
    font-size: 1.4rem;
    font-weight: 400;
    word-spacing: .1rem;
    
}

ul li {
    list-style-type: none;
    padding-left: 20px;
    font-size: 1.4rem;
    color:lightslategray;
    font-weight: 300;
    
}
ul li:hover{
    background: lightsteelblue;
    border-radius: 500px;
    color: pink; 
    transition: 1.5s;
}
body > div > div:nth-child(5) > div.content.col-lg-6.col-md-6.col-12.p-2{
    width: 60%;
    color: lightslategrey;
    font-size: 1.4rem;
    font-weight: 400;
    word-spacing: .1rem;
    border-radius: 10px;
}

#mypic:hover{
    border-radius: 700px;
    transition: 2s;
}
/* events coronation part */
body > div > div.content.col-lg-6.col-md-6.col-12.p-2 > p{
    
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Droid Sans',Arial,Verdana,sans-serif;
    word-spacing: .1rem;
    border-radius: 10px;
}

#carouselExampleIndicators a{
    text-decoration: none;
    font-family: cursive;
    font-size: 1.2rem;
    color:rgb(65, 206, 65);
    cursor: pointer;

}
#carouselExampleIndicators a:hover{
    color:red;
    transition: 1s;

}
#timetable:hover{
    background:black ;
    transition: 2s;
}

#timetable{
    border-radius: 20px;
}